# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Sean Daly\Google Drive\Uni Stuff\Year 3\Term 1\COMP1815- JVM Programming Languages\Coursework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
